.contacto-container {
  position: relative;
  padding: 0;
  height: 100vh;
}
.imagen-contacto {
  overflow: hidden;
  height: 100%;
  filter: grayscale(0.3);
}

.box-container1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 80%;
  max-width: 500px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border-radius: 1rem;
  padding: 3rem 1rem;
}
.optimiza {
  font-size: 2rem;
  margin-bottom: revert;
}
.p-contacto {
  font-size: 1rem;
}
.button-contacto {
  background: #b47430;
  border: #b47430;
  color: white;
  padding: 0.6rem;
  font-size: 1rem;
}
.button-contacto:hover {
  background-color: #d0904d;
}
@media (min-width: 1980px) {
  .box-container1 {
    padding: 3rem 2rem;
    max-width: 1024px;
  }
  .imagen-contacto {
    width: 100vw !important;
  }
  .optimiza {
    font-size: 3rem;
    margin-bottom: revert;
  }
  .p-contacto {
    font-size: 2rem;
  }
  .button-contacto {
    font: normal normal bold 20px Aeonik-Regular;
    padding: 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1980px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
