.footer-component {
  background-color: #27383a !important;
}

.nav-footer {
  height: 110px;
  align-content: center;
}
.nav-footer a {
  font: normal normal 300 15px/18px Lato;
  color: #d1d1d1;
}
.nav-footer a:hover {
  color: black;
}
.footer-social {
  gap: 1rem;
  display: flex;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}
.img-footer {
  width: 10%;
}
@media (min-width: 1200px) {
}
@media (min-width: 992px) {
}
@media (min-width: 768px) {
}
@media (min-width: 576px) {
}
@media (min-width: 390px) {
}
@media (max-width: 390px) {
}
