.container-form {
  position: relative;
  overflow: hidden;
  max-height: 100vh;
}
.container-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.form-container {
  background-color: #f0e1ce;
  color: #27383a;
  height: 100%;
}
.background-form {
  background: #f0e1ce;
  border-bottom: solid 1px gray;
  border-radius: 0;
  gap: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
}
.background-form:focus {
  outline: none;
  box-shadow: none;
  background: #f0e1ce;
  border-bottom: solid 1px gray;
  border-top: none;
  border-left: none;
  border-right: none;
}
.button-form {
  margin-top: 1rem;
  border-radius: 0%;
  background-color: #27383a;
  color: #f0e1ce;
  font: normal normal 300 16px Lato;
}
.contacto {
  background-color: #27383a;
  color: #f0e1ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: normal normal 300 16px Lato;
  letter-spacing: 0px;
}
.preguntas {
  background-color: #27383a;
  opacity: 0.7;
  color: #f0e1ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: normal normal 300 16px Lato;
  letter-spacing: 0px;
}
.respuesta-form {
  background-color: #27383a;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0e1ce;
}
@media (min-width: 1980px) {
  .box-container2 {
    position: absolute;
    height: 40%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-form {
    width: 100%;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .form-container h4 {
    font: normal normal 300 35px Lato;
  }
  .contacto {
    font: normal normal 300 30px Lato;
  }
  .contacto h5 {
    font: normal normal 300 35px Lato;
  }
  .preguntas {
    font: normal normal 300 30px Lato;
  }
}
@media (min-width: 1200px) and (max-width: 1980px) {
  .box-container2 {
    position: absolute;
    height: 40%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .box-container2 {
    position: absolute;
    height: 40%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .box-container2 {
    position: absolute;
    height: 40%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 386px) and (max-width: 767px) {
  .container-form::before {
    display: none;
  }
  .contacto {
    justify-content: space-evenly;
    font: normal normal 300 10px Lato;
    gap: 1rem;
    padding: 5px;
  }
  .contacto h5 {
    font-size: 1rem;
    margin: 0;
  }
  .contacto div {
    margin: 0 !important;
  }
  .preguntas {
    justify-content: space-evenly;
    font: normal normal 300 10px Lato;
  }
  .preguntas p {
    margin: 0;
  }
}
@media (max-width: 386px) {
  .container-form::before {
    display: none;
  }
  .contacto {
    justify-content: space-evenly;
    font: normal normal 300 10px Lato;
    gap: 1rem;
    padding: 5px;
  }
  .contacto h5 {
    font-size: 1rem;
    margin: 0;
  }
  .contacto div {
    margin: 0 !important;
  }
  .preguntas {
    justify-content: space-evenly;
    font: normal normal 300 10px Lato;
  }
  .preguntas p {
    margin: 0;
  }
}
