.navbar-component {
  background-color: #171f1e !important;
}
.navbar-nav {
  color: white;
}
.a-nav {
  color: white;
}
.a-nav:active {
  outline: none !important;
}
.a-nav:hover {
  color: black;
}
.img-navbar {
  width: 100%;
  height: 100%;
}

.navbar-toggler {
  font-size: 1.5rem;
  color: #e8c9a8;
  border: none;
  border-width: 1px;
}

.button-nav1 {
  color: white !important;
  border-radius: 0;
  border: none;
  background: rgb(122, 78, 45);
  background: linear-gradient(
    22deg,
    rgba(122, 78, 45, 1) 0%,
    rgba(232, 201, 168, 1) 100%
  );
}

.button-nav1:hover {
  background: linear-gradient(
    98deg,
    rgba(122, 78, 45, 1) 0%,
    rgba(232, 201, 168, 1) 100%
  );
}
@media (min-width: 1980px) {
  .max-height {
    max-height: 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1980px) {
  .button-nav1 {
    width: 200px !important;
  }
  .button-nav2 {
    width: 200px !important;
  }
  .nav-container {
    max-height: 80px;
  }
}
@media (min-width: 992px) {
  .nav-container {
    height: 110px;
  }
  .boton-contacto {
    margin-right: 2rem;
  }
  .nav-full {
    display: flex;
    justify-content: flex-end;
  }
  .button-nav1 {
    opacity: 1;
    width: 150px;
  }
  .button-nav2 {
    width: 150px;
    background: #212d2b;
  }
}

@media (max-width: 992px) {
  .nav-container a {
    justify-content: center;
    margin: 0px;
  }
  .collapse-logo {
    display: flex;
    justify-content: center;
  }
  .button-nav1 {
    opacity: 1;
  }
  .button-nav2 {
    background: #212d2b;
  }
}
