@font-face {
  font-family: 'Aeonik-Regular';
  src: url('./assets/fonts/Aeonik-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Italic';
  src: url('./assets/fonts/Aeonik-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Aeonik-Bold';
  src: url('./assets/fonts/Aeonik-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik-Italic';
  src: url('./assets/fonts/Aeonik-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: 'Aeonik-Regular';
  margin: 0;
  padding: 0;
  background: #d3d5ce;
}

b,
strong {
  font-family: 'Aeonik-Bold';
}
